@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;800&display=swap');

/* Reset CSS */
*, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antiaLiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Estilo para a página */
body {
  background-color: #eae3c7;
}

/* Estilos para o conteúdo main */
main {
  padding: 20px;
  max-width: 640px;
  margin: 0 auto 64px;
  position: relative;
}

/* Imagem do cabeçalho */
img {
  width: 200px;
}

/* Estilo para o cabeçalho */
header {
  text-align: center;
  margin-top: 46px;
  padding-bottom: 18px;
}

/* Estilo do texto cabeçalho */
header h1 {
  margin-top: 12px;
  font-size: 30px;
  color: #57180d;
  font-weight: 700;
}

/* Estilos para as perguntas */
#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin-top: 24px;
  border: 1px solid #e1cb8e;
  border-radius: 8px;
  
  overflow: hidden;
}

.quiz-item h3 {
  padding: 16px 20px;

  
  color: #57180d;
  display: flex;
  align-items: center;
  gap: 12px;
  
  background-color: #e1cb8e;
}

.quiz-item h3:before {
  counter-increment: quiz-item;
  content: counter(quiz-item);
  
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 12px;
  background-color: #c78649;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl {
  padding: 20px 24px;
  
  color: #57180d;
  font-weight: 700;
  display: grid;
  gap: 8px;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Estilo para chekbox */
input {
  all: unset;
  border: 2px solid #c78649;
  width: 16px;
  height: 16px;
  
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked {
  border: 2px solid #c78649;
}

input:checked:before {
  content: "";
  width: 10px;
  height: 10px;
  
  border-radius: 50%;
  background-color: #c78649;
}

/* Estilo para o campo Resultado */
#resultado {
  position: absolute;
  background-color: #000000;
  padding: 60px;
  width: 80%;
}

/* Estilo para os botões */
button {
    font-size: 24px;
    border-radius: 8px;
    border: 0;
    background-color: #FF010A;
    color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

button:hover {
    background-color: #160202; /* Cor de fundo no hover */
    color: #FF010A; /* Cor do texto no hover */
}

/* Estilo para o campo acertos */
#acertos {
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  
  bottom: 0;
  left: 0;
  margin-top: 24px;
  
  width: 100%;
  padding: 12px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}